body {
    background: rgb(230, 203, 169);
}
div{
    margin: auto;
    width: 500px;
    text-align: center;
}
h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
label{
    color: darkcyan;
    font-family: sans-serif;
    padding: 5px;
    
}    

